{% extends "layout.html" %}

{% block content %}

<div class="mx-auto w-50 my-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>


<div class="mx-auto my-4 w-50">
    <form method="POST" novalidate action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
    
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Enter email") }}
            {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Enter password") }}
            {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
</div>
{% endblock %}